* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
li {
  color: black;
  font-family: Tahoma;
  padding-top: 10px;
  font-weight: 600;
}

h2 {
  font-family: Tahoma;
  margin-bottom: 20px;
}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: #363945;
  color: snow;
  font-family: Tahoma;
}

li {
  font-size: large;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(170, 170, 245);
}

#game-background {
  background-image: url(https://i.imgur.com/j3yfCgn.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  display: inline-block;

  width: 100vw;
  height: 40vh;
}

section {
  display: flex;
  margin-left: 4vw;
  margin-right: 5vw;
  align-items: center;
}

#Game-Informations {
  display: flexbox;
  width: 70%;
  margin-left: 3vw;
}

section h2 {
  display: inline;
  font-family: Tahoma;
}

section img {
  display: inline;
}

.HeadDescription {
  display: flex;
  margin-top: 5vh;
  margin-bottom: 3vh;
  align-items: baseline;
  align-content: space-around;
}

.HeadDescription h5 {
  display: inline;
  margin-left: 5vw;
  font-size: 110%;
  font-weight: 200;
  font-family: Tahoma;
}

#avrgRating {
  font-size: 15px;
  font-family: Tahoma;
}

p {
  font-family: Tahoma;
}

hr {
  margin-top: 15vh;
  margin-bottom: 10vh;
  border: solid #779ecb;
}

button:hover {
  color: white;
  transform: translateY(-0.25em);
  cursor: pointer;
}

input[type="radio"] {
  display: none;
}

.star {
  cursor: pointer;
  transition: 200ms;
}

.mytable {
  background-color: #2c3440;
}

@media (max-width: 900px) {
  #Game-Content {
    display: flexbox;
    flex-direction: column;
    text-align: center;
  }
  .HeadDescription {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #Game-Informations {
    width: 100%;
    margin: 10px;
  }

  section {
    margin: 15px;
  }

  h1,
  li {
    color: black;
    font-family: Tahoma;
    padding-top: 10px;
    font-weight: 500;
  }

  .Botoes {
    display: flexbox;
    margin: 10px;
    margin-top: 30px;
  }
}
