body {
  width: 100%;
  background-color: #2c3440;
  padding-top: 50px;
}

.hover-effect:hover {
  border: solid 2px lightblue;
  transform: scale(1.1);
}

@media (max-width: 608px) {
  body {
    padding-top: 40px;
  }
}
